/* line 4, ../sass/screen.scss */
* {
  background-repeat: no-repeat;
}

/* line 8, ../sass/screen.scss */
body {
  background: white;
}

@media screen and (min-width: 800px) {
  /* line 13, ../sass/screen.scss */
  body {
    background: white;
  }
}

.fancy-hide{
    display:none;
}

.header {
    height: 55px;
    padding: 15px 0px 0px 20px;
    margin-bottom: 15px;
}

h1 {
    font-family: 'Droid Sans', Arial, sans-serif;
    display: inline;
    font-weight: bold;
    font-size: 24px;
    color: #454343;
    letter-spacing: 3.3px
}

h2 {
    font-family: 'Droid Sans', Arial, sans-serif;
    position:absolute;
    top:18px;
    left:15;
    font-size: 12px;
    color: #757474;
    text-transform: uppercase;
}

.link {
    font-family: 'Droid Sans', Arial, sans-serif;
    display: inline;
    margin: 0 0 0 50px;
    text-decoration: none;
    font-size: 12px;
    color: #757474;

}

a:hover{
    text-decoration: none;
    color: #f26522;
}


.gallery-square {
    display: inline-block;
    position: relative;
    margin:0;
    padding:0;
    width: 33%;
    height: 700px;
    overflow: hidden;
}



img {
    margin:0;
    padding:0;
    width:100%;
}

.thumb-people {
    position: relative;
    left: -350px;
    top: -230px;
}

.thumb-reel {
    position: relative;
    left: -300px;
    top: -550px;
}

.thumb-place {
    position: relative;
    left: -550px;
    top: -80px;
}

.thumb-archive {
    position: relative;
    left: -100px;
    top: -300px;
}

div span{
    text-align: center;
    margin: 0 auto;
    padding: 0px 0 0 20px;
    color: white;
    font-size: 526%;
    font-weight: bolder;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: -10px;
    width: 100%;
    height: auto;
    /*background-color: rgba(242,101,34,0.5);*/
    border-radius: 0 3px 3px 0;
    z-index: 100;
}

.text {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: black;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
}

.hide {
    display: none;
}

.footer{
    background-color: #bababc;
    height: 50px;

}

.copyright {
    padding-top: 10px;
    padding-left: 15px;
}


